@theme {
  --color-ly0: hsl(var(--ly0) / 1);
  --color-ly0-w: hsl(var(--ly0-w) / 1);
  --color-ly0-a: hsl(var(--ly0-a) / 1);
  --color-ly0-edge: hsl(var(--ly0-edge) / 1);
  --color-ly0-blur: hsl(var(--ly0-blur) / 1);
  --color-ly0-gl: hsl(var(--ly0-gl) / 1);
  --color-ly0-gl-a: hsl(var(--ly0-gl-a) / 1);
  --color-ly0-gl-pl: hsl(var(--ly0-gl-pl) / 1);
  --color-ly0-gl-hl: hsl(var(--ly0-gl-hl) / 1);
  --color-ly0-gl-hl-a: hsl(var(--ly0-gl-hl-a) / 1);
  --color-ly0-gl-shade: hsl(var(--ly0-gl-shade) / 1);
  --color-ly0-gl-label: hsl(var(--ly0-gl-label) / 1);
  --color-ly1: hsl(var(--ly1) / 1);
  --color-ly1-a: hsl(var(--ly1-a) / 1);
  --color-ly1-edge: hsl(var(--ly1-edge) / 1);
  --color-ly1-err: hsl(var(--ly1-err) / 1);
  --color-ly1-focus: hsl(var(--ly1-focus) / 1);
  --color-ly1-gl: hsl(var(--ly1-gl) / 1);
  --color-ly1-gl-a: hsl(var(--ly1-gl-a) / 1);
  --color-ly1-gl-d: hsl(var(--ly1-gl-d) / 1);
  --color-ly1-gl-pl: hsl(var(--ly1-gl-pl) / 1);
  --color-ly1-gl-hl: hsl(var(--ly1-gl-hl) / 1);
  --color-ly1-gl-hl-a: hsl(var(--ly1-gl-hl-a) / 1);
  --color-ly1-gl-shade: hsl(var(--ly1-gl-shade) / 1);
  --color-ly1-gl-label: hsl(var(--ly1-gl-label) / 1);
  --color-ly2: hsl(var(--ly2) / 1);
  --color-ly2-a: hsl(var(--ly2-a) / 1);
  --color-ly2-edge: hsl(var(--ly2-edge) / 1);
  --color-ly2-gl: hsl(var(--ly2-gl) / 1);
  --color-ly2-gl-a: hsl(var(--ly2-gl-a) / 1);
  --color-ly2-gl-d: hsl(var(--ly2-gl-d) / 1);
  --color-ly2-gl-pl: hsl(var(--ly2-gl-pl) / 1);
  --color-ly2-gl-hl: hsl(var(--ly2-gl-hl) / 1);
  --color-ly2-gl-hl-a: hsl(var(--ly2-gl-hl-a) / 1);
  --color-ly2-gl-shade: hsl(var(--ly2-gl-shade) / 1);
}
