:root,
:root[data-theme="os_light"] {
  color-scheme: light;
  --ly0: 240 24% 96%;
  --ly0-w: 248 17% 98%;
  --ly0-a: 240 6% 83%;
  --ly0-edge: 0 0% 87%;
  --ly0-blur: 179 7% 96%;
  --ly0-gl: 240 2% 55%;
  --ly0-gl-a: 240 2% 60%;
  --ly0-gl-pl: 240 2% 78%;
  --ly0-gl-hl: 219 92% 59%;
  --ly0-gl-hl-a: 211 100% 40%;
  --ly0-gl-shade: 230 3% 54%;
  --ly0-gl-label: 240 2% 53%;
  --ly1: 0 0% 100%;
  --ly1-a: 240 6% 83%;
  --ly1-edge: 274 4% 90%;
  --ly1-err: 0 0% 0%;
  --ly1-focus: 240 15% 94%;
  --ly1-gl: 0 0% 10%;
  --ly1-gl-a: 0 0% 10%;
  --ly1-gl-d: 0 0% 20%;
  --ly1-gl-pl: 240 2% 78%;
  --ly1-gl-hl: 211 100% 50%;
  --ly1-gl-hl-a: 211 100% 40%;
  --ly1-gl-shade: 240 2% 55%;
  --ly1-gl-label: 240 2% 53%;
  --ly2: 240 5% 90%;
  --ly2-a: 240 5% 95%;
  --ly2-edge: 242 2% 88%;
  --ly2-gl: 240 2% 55%;
  --ly2-gl-a: 240 2% 45%;
  --ly2-gl-d: 240 2% 65%;
  --ly2-gl-pl: 240 2% 78%;
  --ly2-gl-hl: 211 100% 50%;
  --ly2-gl-hl-a: 211 100% 40%;
  --ly2-gl-shade: 240 2% 55%;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="os_light"]) {
    color-scheme: dark;
    --ly0: 0 0% 7%;
    --ly0-w: 0 0% 7%;
    --ly0-a: 240 2% 23%;
    --ly0-edge: 274 4% 11%;
    --ly0-blur: 0 0% 12%;
    --ly0-gl: 230 3% 56%;
    --ly0-gl-a: 230 3% 51%;
    --ly0-gl-pl: 30 1% 99%;
    --ly0-gl-hl: 210 100% 52%;
    --ly0-gl-hl-a: 210 91% 21%;
    --ly0-gl-shade: 240 3% 57%;
    --ly0-gl-label: 240 3% 55%;
    --ly1: 240 4% 11%;
    --ly1-a: 240 2% 23%;
    --ly1-edge: 240 3% 19%;
    --ly1-err: 0 0% 0%;
    --ly1-focus: 240 4% 20%;
    --ly1-gl: 30 100% 100%;
    --ly1-gl-a: 30 1% 90%;
    --ly1-gl-d: 240 1% 82%;
    --ly1-gl-pl: 30 1% 99%;
    --ly1-gl-hl: 210 100% 52%;
    --ly1-gl-hl-a: 210 100% 62%;
    --ly1-gl-shade: 230 4% 61%;
    --ly1-gl-label: 30 1% 99%;
    --ly2: 240 2% 18%;
    --ly2-a: 240 3% 15%;
    --ly2-edge: 240 2% 23%;
    --ly2-gl: 240 3% 73%;
    --ly2-gl-a: 230 4% 51%;
    --ly2-gl-d: 240 3% 63%;
    --ly2-gl-pl: 240 2% 40%;
    --ly2-gl-hl: 210 100% 52%;
    --ly2-gl-hl-a: 210 100% 42%;
    --ly2-gl-shade: 230 4% 61%;
  }
}

:root[data-theme="os_dark"] {
  color-scheme: dark;
  --ly0: 0 0% 7%;
  --ly0-w: 0 0% 7%;
  --ly0-a: 240 2% 23%;
  --ly0-edge: 274 4% 11%;
  --ly0-blur: 0 0% 12%;
  --ly0-gl: 230 3% 56%;
  --ly0-gl-a: 230 3% 51%;
  --ly0-gl-pl: 30 1% 99%;
  --ly0-gl-hl: 210 100% 52%;
  --ly0-gl-hl-a: 210 91% 21%;
  --ly0-gl-shade: 240 3% 57%;
  --ly0-gl-label: 240 3% 55%;
  --ly1: 240 4% 11%;
  --ly1-a: 240 2% 23%;
  --ly1-edge: 240 3% 19%;
  --ly1-err: 0 0% 0%;
  --ly1-focus: 240 4% 20%;
  --ly1-gl: 30 100% 100%;
  --ly1-gl-a: 30 1% 90%;
  --ly1-gl-d: 240 1% 82%;
  --ly1-gl-pl: 30 1% 99%;
  --ly1-gl-hl: 210 100% 52%;
  --ly1-gl-hl-a: 210 100% 62%;
  --ly1-gl-shade: 230 4% 61%;
  --ly1-gl-label: 30 1% 99%;
  --ly2: 240 2% 18%;
  --ly2-a: 240 3% 15%;
  --ly2-edge: 240 2% 23%;
  --ly2-gl: 240 3% 73%;
  --ly2-gl-a: 230 4% 51%;
  --ly2-gl-d: 240 3% 63%;
  --ly2-gl-pl: 240 2% 40%;
  --ly2-gl-hl: 210 100% 52%;
  --ly2-gl-hl-a: 210 100% 42%;
  --ly2-gl-shade: 230 4% 61%;
}
