[workspace]
members = [
  "app"
]

resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.92.0"
license = "AGPL-3.0"

[workspace.dependencies]
leptos = { version = "0.8.5", default-features = false }
wasm-bindgen = "=0.2.100"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
strip = true

[profile.wasm-release]
inherits = "release"
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true
