@import "/static/stylesheets/tailwindcss-app-carousel.css";
@import "/static/stylesheets/tailwindcss-app-form.css";
@import "/static/stylesheets/tailwindcss-app-styles.css";
@import "/static/stylesheets/tailwindcss-app.css";
@import "/static/stylesheets/tailwindcss-spinner.css";

@import "/static/webfonts/apercu-mono-pro/styles.css";
@import "/static/webfonts/lust/styles.css";
@import "/static/webfonts/magda-text/styles.css";
@import "/static/webfonts/sf-pro-display/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .map-trellis-1 {
        height: 400px;
        width: 100%;
    }

    .tap-rise-1 {
        @apply active:scale-[101%] group-active:scale-[101%] delay-75 duration-700 ease-in-out transition-all;
    }


    .tap-scale {
        @apply active:scale-[97%] group-active:scale-[97%] delay-75 duration-700 ease-in-out transition-all;
    }

    .touch-layer-1 {
        @apply active:bg-layer-1-surface_a/20 group-active:bg-layer-1-surface_a/20 transition-all;
    }

    .touch-layer-1-raise,
    .touch-layer-1-raise-less {
        @apply active:scale-[101%] group-active:scale-[101%] ease-in-out transition-all;
    }

    .touch-layer-1-raise {
        @apply ring-layer-2-surface/60 active:ring-[0.3rem] group-active:ring-[0.3rem] delay-[75ms] duration-[350ms];
    }

    .touch-layer-1-raise-less {
        @apply ring-layer-2-surface/60 active:ring-[0.25rem] group-active:ring-[0.25rem] delay-[50ms] duration-[350ms];
    }

    .layer-1-ring {
        @apply ring-layer-2-surface/60 ring-[0.3rem]
    }

    .layer-1-ring-less {
        @apply ring-layer-2-surface/60 ring-[0.25rem]
    }
}